/*==============================
Responsive Design
==============================*/

@media(max-width:992px){

.hero{

flex-direction:column;

text-align:center;

padding-top:120px;

}

.hero-content{

order:2;

}

.hero-image{

order:1;

margin-bottom:40px;

}

.hero h1{

font-size:42px;

}

.hero p{

margin:auto;

margin-bottom:25px;

}

.hero-buttons{

justify-content:center;

}

.services-line{

font-size:15px;

}

nav{

display:none;

}

.contact-btn{

display:none;

}

section{

padding:70px 6%;

}

.section-header h2{

font-size:34px;

}

}


/* Mobile */

@media(max-width:768px){

.hero h1{

font-size:34px;

}

.hero p{

font-size:16px;

}

.hero-image img{

max-width:320px;

}

.hero-buttons{

flex-direction:column;

width:100%;

}

.btn{

width:100%;

}

.services-line{

font-size:14px;

padding:15px;

line-height:1.7;

}

.stats{

grid-template-columns:1fr 1fr;

gap:15px;

}

.service-grid,

.brands-grid,

.bulk-grid,

.why-grid,

.gallery-grid,

.reviews-grid{

grid-template-columns:1fr;

}

.contact-container{

flex-direction:column;

}

.footer-container{

flex-direction:column;

gap:30px;

text-align:center;

}

}


/* Small Mobile */

@media(max-width:480px){

.logo h2{

font-size:24px;

}

.logo small{

font-size:10px;

}

.hero{

padding:110px 5% 60px;

}

.hero h1{

font-size:28px;

}

.section-header h2{

font-size:28px;

}

.section-header p{

font-size:15px;

}

.services-line{

font-size:13px;

}

}
